/* 揪團詳細內容*/
.group-signup {
  background-color: #ece2e1;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.group-detail {
  background-color: white;
  border-radius: 10px;
  margin: 4% 5% 4% 5%;
  padding: 6%;
  height: 100%;
  font-size: 20px;
  overflow-y: scroll;
}

.group-detail::-webkit-scrollbar {
  display: none;
}

.group-detail-card-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 3%;
}

.net-level-creator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  font-size: 22px;
}

.nlc {
  margin: 0 1% 0 1%;
}

.date-time-duration {
  display: flex;
  align-items: baseline;
}

.dtd {
  margin: 0 1% 0 0;
}

.place-and-des {
  display: flex;
  align-items: baseline;
  font-size: 22px;
}

.pad {
  margin-right: 1%;
}

#signup {
  font-size: 22px;
  font-family: 'cwTeXYen';
  background-color: #f9d5a7;
  border-radius: 5px;
  text-align: center;
  border: 0px;
  width: 98%;
  padding: 1%;
  cursor: pointer;
}

.group-detail-people-left {
  text-align: center;
  font-size: 19px;
}

.group-detail-group-level-description,
.group-detail-group-description {
  padding: 0 1% 1% 1%;
  resize: vertical;
  font-size: 21px;
  line-height: 30px;
  white-space: pre-wrap;
}

.group-margin {
  margin-bottom: 2%;
}

.signup-margin {
  margin-bottom: 1%;
  margin-top: 4%;
}

.group-level-margin,
.group-des-margin {
  width: 97%;
  margin-left: 1%;
  margin-top: 4%;
  font-size: 26px;
  color: #aa8b56;
  padding-bottom: 1%;
  border-bottom: 1.2px solid #aa8b56;
}

/* 編輯按鈕、關團按鈕*/
.edit-close {
  display: flex;
  justify-content: center;
}

#edit,
#close-group {
  font-size: 22px;
  font-family: 'cwTeXYen';
  background-color: #f9d5a7;
  border-radius: 5px;
  border: 0px;
  width: 48%;
  padding: 1%;
  margin: 4% 1% 1% 1%;
  cursor: pointer;
}

/* 報名揪團者名單*/
.signup-members {
  margin: 5% 0 4% 0;
}

.list-question {
  text-align: center;
  margin: 0 0 2% 1%;
  font-size: 22px;
}

.member {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: 50%;
  margin: 2.5% 0 2.5% 0;
}

.member-name {
  margin-bottom: 2%;
}

.accept-deny-btn {
  display: flex;
  justify-content: start;
}

.accept,
.deny {
  font-size: 20px;
  font-family: 'cwTeXYen';
  border-radius: 15px;
  border: 0px;
  padding: 7px;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.accept {
  background-color: #d3e4cd;
}

.deny {
  background-color: #ffd1d1;
}

#member-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 94%;
  margin-left: 1%;
  padding: 2%;
  resize: vertical;
  font-size: 24px;
}

/* 主揪編輯表單*/
#edit-pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#edit-div-pop {
  background: #ffffff;
  width: 70%;
  height: 90%;
  z-index: 1;
  margin: auto;
  position: absolute; /* 水平垂直置中 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow-y: auto;
}

#edit-div-pop::-webkit-scrollbar {
  display: none;
}

.edit-div-top {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 0 2% 2%;
  background-color: #fef1e6;
}
#edit-pop-title {
  font-size: 40px;
  color: black;
  margin-top: 2.5%;
}

#edit-close-button {
  color: gray;
  cursor: pointer;
  font-size: 20px;
  margin: 0 1% 3.5% 40%;
}

.edit-div-content {
  color: rgb(170, 139, 86);
  font-size: 30px;
  padding: 5%;
}

#edit-start-group-form div {
  display: flex;
  flex-direction: column;
}

.edit-form-text {
  margin: 0 0 1% 2%;
}

.edit-form-block select,
.edit-form-block input {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 50px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 1% 4% 2%;
  font-family: 'Lucida Console';
  text-align: center;
}

.edit-form-block textarea {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 300px;
  font-size: 20px;
  margin: 0 1% 4% 2%;
  resize: none;
}

#save {
  font-size: 23px;
  background-color: #f9d5a7;
  border-radius: 5px;
  border: 0px;
  padding: 1%;
  cursor: pointer;
  margin-left: 45%;
}

/* 留言板*/
#msg-board {
  font-size: 19px;
  font-family: 'cwTeXYen';
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 94%;
  margin-left: 1%;
  margin-top: 5%;
  padding: 2%;
  resize: vertical;
}

#leave-msg {
  font-size: 20px;
  font-family: 'cwTeXYen';
  background-color: #f9d5a7;
  border-radius: 5px;
  text-align: center;
  border: 0px;
  padding: 1%;
  cursor: pointer;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}

.messages {
  margin-top: 10%;
}

.user-messages {
  padding: 2%;
  margin: 1% 1% 1% 1%;
  line-height: 30px;
}

.username {
  font-size: 24px;
}

.time {
  font-size: 16px;
  font-family: 'Microsoft JhengHei';
}

.content {
  font-size: 21px;
  color: rgba(0, 0, 0, 0.8);
  white-space: pre-wrap;
}

/* 超連結*/
.group-detail a:link {
  text-decoration: none;
  color: black;
}

.group-detail a:hover {
  text-decoration: underline;
  color: black;
}

.group-detail a:visited {
  text-decoration: none;
  color: black;
}
