/* 主揪揪團表單*/
.btn-pop {
  font-size: 23px;
  background-color: #f9d5a7;
  border-radius: 5px;
  border: 0px;
  height: auto;
  padding: 5px;
  cursor: pointer;
}
#background-pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#div-pop {
  background: #ffffff;
  width: 50%;
  height: 90%;
  z-index: 1;
  margin: 3% auto;
  overflow: auto;
}
.div-top {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #28a3e7;
  color: #ffffff;
}
.div-top div {
  padding: 3px 5px 5px 8px;
}
#close-button {
  color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 3px;
  cursor: pointer;
  float: right;
}
.div-content {
  width: auto;
  height: auto;
  padding: 10px;
  overflow: auto;
}
.div-content div {
  padding: 3px;
}

/* 首頁左側 header*/
html,
body {
  margin: 0;
  font-family: 'Lucida Console', 'cwTeXYen';
}

.main-container {
  display: flex;
  height: 100vh;
}

.vb-nav {
  width: 30%;
  background-color: #fef1e6;
  overflow-y: scroll;
}

.vb-nav::-webkit-scrollbar {
  /* 隱藏滾動條*/
  display: none;
}

.vb-nav a:link {
  text-decoration: none;
  color: black;
}

.vb-nav a:hover {
  color: black;
  text-decoration: underline;
}

.vb-nav a:visited {
  color: black;
}

.logo {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#my-profile {
  cursor: pointer;
}

.vb-nav-mid {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 5% 10px 5%;
  border-bottom: 1px solid #aa8b56;
  padding-bottom: 20px;
}

.underline {
  color: #aa8b56;
  padding: 18px;
  font-size: 20px;
}

.log-out {
  font-size: 20px;
  font-family: 'cwTeXYe';
}

.vb-nav-filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 2% 0 2%;
}

/* 搜尋按鈕*/
#filter {
  cursor: pointer;
  margin: 5% 4% 10% 80%;
  border-radius: 5px;
  background-color: #f9d5a7;
  border: 0px;
  padding: 5px;
  font-size: 28px;
  font-family: 'cwTeXYen';
}

/* 下拉式選單*/
.tw-select {
  margin: 0 1% 2% 2%;
}

.tw-select select {
  background-color: #fef1e6;
  border-radius: 10px;
  height: 50px;
  font-size: 18px;
  font-family: 'cwTeXYe';
  width: 48%;
}

.select {
  background-color: #fef1e6;
  border-radius: 10px;
  height: 50px;
  line-height: 32px;
  font-size: 18px;
  font-family: 'cwTeXYe';
  width: 95%;
  margin: 0 1% 2% 2%;
}

/* 揪團字卡渲染*/
.card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  overflow-y: scroll;
  background-color: #ece2e1;
}

.group-top {
  flex: 1;
  font-size: 40px;
  margin: 11% 5% 1% 6%;
  padding-bottom: 3%;
  border-bottom: 1px solid #aa8b56;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 3% 6% 3% 6%;
  text-decoration: none;
  width: 100%;
  /* height: 50%; */
  margin: 5% 5% 1% 5%;
}

.card-right {
  font-size: 25px;
}

.card-right div {
  margin-top: 13%;
}

.no-filter,
.filter {
  display: flex;
  justify-content: space-between;
}

.card-title {
  margin-bottom: 8%;
}

.card-time-container,
.card-place-container {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  margin-bottom: 5%;
}

.card-creator {
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 5%;
}

.card div {
  padding: 2px;
}

#card-group a:link,
#card-group a:visited {
  color: black;
}

.card-title {
  font-size: 40px;
}
