/* 首頁左側 header*/
html,
body {
  font-family: 'Lucida Console', 'cwTeXYen';
  margin: 0;
}

.main-container {
  display: flex;
  height: 100vh;
}

.vb-nav {
  width: 30%;
  background-color: #fef1e6;
  overflow-y: scroll;
}

.vb-nav::-webkit-scrollbar {
  /* 隱藏滾動條*/
  display: none;
}

.logo {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#my-profile {
  cursor: pointer;
}

.vb-nav-mid {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 5% 10px 5%;
  border-bottom: 1px solid #aa8b56;
  padding-bottom: 20px;
}

.underline {
  color: #aa8b56;
  padding: 18px;
  font-size: 20px;
}

.log-out {
  font-size: 20px;
  font-family: 'cwTeXYe';
}

.vb-nav-filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 2% 0 2%;
}

/* 自介、現正歷史揪團、評價*/
.self-group-comment {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ece2e1;
}

.shift-background {
  background-color: white;
  border-radius: 10px;
  padding: 6%;
  height: 100%;
  margin: 2.5% 5% 2.5% 5%;
  overflow-y: scroll;
}

.shift-background::-webkit-scrollbar {
  display: none;
}

/* 追蹤、編輯按鈕*/
.follow-btn,
.self-edit {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

#follow-btn,
#self-edit {
  font-size: 18px;
  font-family: 'cwTeXYen';
  background-color: #f9d5a7;
  border-radius: 5px;
  border: 0px;
  padding: 1%;
  cursor: pointer;
}

/* 簡易資料 */
#resume-top {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 40px;
}

#resume-mid {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.rt {
  margin: 2% 1% 2% 1%;
}

.rm {
  margin: 3% 1% 2% 1%;
  border: 1.5px solid black;
  border-radius: 30px;
  padding: 0.5%;
}

/* 追蹤數、粉絲數 */
#groups-fans {
  display: flex;
  margin: 2%;
  padding: 2%;
  justify-content: space-around;
  font-size: 20px;
}

#groups-fans div {
  text-align: center;
}

.follow,
.fans {
  margin-top: 8px;
}

/* 自介、自評文案 */
#intro,
#level-des {
  white-space: pre-wrap;
  line-height: 30px;
  font-size: 22px;
}

.intro-title,
.level-title {
  font-size: 27px;
  font-family: 'cwTeXYen';
  color: #aa8b56;
  margin: 5% 0 3% 0;
  padding-bottom: 8px;
  border-bottom: 1.5px solid #aa8b56;
}

/* 編輯個人檔案 */
/* 待評價 */
#background-pop,
#comment-pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#div-pop,
#comment-div-pop {
  background: #ffffff;
  width: 50%;
  height: 90%;
  z-index: 1;
  margin: 3% auto;
  overflow: auto;
}
.div-top,
.comment-div-top {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #28a3e7;
  color: #ffffff;
}
.div-top div,
.comment-div-top div {
  padding: 3px 5px 5px 8px;
}
#close-button,
#comment-close-button {
  color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 3px;
  cursor: pointer;
  float: right;
}
.div-content,
.comment-div-content {
  width: auto;
  height: auto;
  padding: 10px;
  overflow: auto;
}
.div-content div,
.comment-div-content div {
  padding: 3px;
}

/* 揪團ing、過去揪團*/
.group-details-link:link,
.group-details-link:visited {
  text-decoration: none;
  color: black;
}

.group-details-link:hover {
  text-decoration: none;
  color: #004aad;
}

#i-create-groups,
#i-signup-groups,
#past-create-groups,
#past-signup-groups {
  padding: 2%;
  margin: 2%;
  font-size: 20px;
}

.i-create-title,
.i-signup-title,
.past-create-title,
.past-signup-title {
  font-size: 28px;
  color: #aa8b56;
  text-align: center;
}

.group-details {
  padding: 1%;
  margin: 3% 0 3% 0;
  border: 1px solid;
  border-radius: 8px;
}

.group-title {
  font-size: 25px;
  margin: 1% 0 1% 0;
}

.group-date {
  font-size: 18px;
  margin: 1% 0 1% 0;
}

#past-signup-groups-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.psgd {
  flex-basis: 88%;
}

.psgd-btn {
  flex-basis: 10%;
  font-size: 18px;
  font-family: 'cwTeXYen';
  background-color: #f9d5a7;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  margin: 2.6% 0 2.6% 0;
}

/* icon 區 */
#icons {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 2% auto;
}

/* 評價區塊 */
#comment {
  display: none;
}

#comment-block-container {
  padding: 2%;
}

.comment-block {
  border: solid;
  padding: 2%;
  margin-top: 2%;
}

#comment-score {
  text-align: center;
  padding: 2%;
}

#avg-score {
  font-size: xx-large;
}

#rateYo {
  margin-left: auto;
  margin-right: auto;
}

.commenter {
  display: flex;
}

.commenter div {
  margin-right: 2%;
}

#comment-block-container a {
  text-decoration: none;
}

.comment-group-link:link {
  color: black;
}

.comment-block div {
  padding: 2px;
}
