/* 首頁 header*/
html,
body {
  height: 100%;
  margin: 0;
}

.vb-nav {
  display: flex;
  background: #28a3e7;
  padding: 10px;
}

.vb-nav-filter {
  display: flex;
}

.vb-nav-social {
  display: flex;
}

/* 簡易資料*/
#resume,
#self-details,
#comment {
  width: 60%;
  border: solid;
  margin: 2% auto;
}

#resume-top,
#resume-bottom,
#resume-mid {
  display: flex;
  padding: 1%;
}

#follow-btn,
#self-edit {
  margin-left: auto;
}

#resume-mid div,
#resume-top div,
#resume-bottom div {
  margin: 1%;
}

/* 編輯個人檔案*/
/* 待評價*/
#background-pop,
#comment-pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#div-pop,
#comment-div-pop {
  background: #ffffff;
  width: 50%;
  height: 90%;
  z-index: 1;
  margin: 3% auto;
  overflow: auto;
}
.div-top,
.comment-div-top {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #28a3e7;
  color: #ffffff;
}
.div-top div,
.comment-div-top div {
  padding: 3px 5px 5px 8px;
}
#close-button,
#comment-close-button {
  color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 3px;
  cursor: pointer;
  float: right;
}
.div-content,
.comment-div-content {
  width: auto;
  height: auto;
  padding: 10px;
  overflow: auto;
}
.div-content div,
.comment-div-content div {
  padding: 3px;
}

/* 揪團ing、過去揪團、粉絲區*/
#my-intro,
#self-level,
#i-create-groups,
#i-signup-groups,
#past-create-groups,
#past-signup-groups {
  border: solid;
  padding: 2%;
  margin: 2%;
}

#groups-fans {
  display: flex;
  margin: 2%;
  padding: 2%;
  justify-content: space-around;
}

#groups-fans div {
  text-align: center;
}

#groups-fans div a {
  text-decoration: none;
}

.group-details {
  padding: 1%;
  margin: 1% 0 1% 0;
  border: solid;
}

.group-details-link {
  text-decoration: none;
  flex-grow: 2;
  margin-right: 2%;
  width: 50%;
}

.group-details-link:link {
  color: black;
}

#past-signup-groups-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comment-btn {
  margin: 1% 0 1% 0;
}

/* icon 區*/
#icons {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 2% auto;
}

/* 評價區塊*/
#comment {
  display: none;
}

#comment-block-container {
  padding: 2%;
}

.comment-block {
  border: solid;
  padding: 2%;
  margin-top: 2%;
}

#comment-score {
  text-align: center;
  padding: 2%;
}

#avg-score {
  font-size: xx-large;
}

#rateYo {
  margin-left: auto;
  margin-right: auto;
}

.commenter {
  display: flex;
}

.commenter div {
  margin-right: 2%;
}

#comment-block-container a {
  text-decoration: none;
}

.comment-group-link:link {
  color: black;
}

.comment-block div {
  padding: 2px;
}
