/* 首頁左側 header*/
html,
body {
  font-family: 'Microsoft Sans Serif', 'cwTeXYen';
  margin: 0;
}

.main-container {
  display: flex;
  height: 100vh;
}

.vb-nav {
  width: 30%;
  background-color: #fef1e6;
  overflow-y: scroll;
}

.vb-nav::-webkit-scrollbar {
  /* 隱藏滾動條*/
  display: none;
}

.logo {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#my-profile {
  cursor: pointer;
}

#star {
  cursor: pointer;
}

.vb-nav-mid {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 15px 7% 10px 5%;
  border-bottom: 1px solid #aa8b56;
  padding-bottom: 15px;
}

.vb-nav-mid a:link,
.vb-nav-mid a:visited {
  text-decoration: none;
  color: black;
}

.vb-nav-mid a:hover {
  text-decoration: underline;
  color: black;
}

.underline {
  color: #aa8b56;
  padding: 18px;
  font-size: 20px;
}

.log-out {
  font-size: 24px;
  font-family: 'cwTeXYe';
}

.vb-nav-filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 2% 0 2%;
}

/* 自介、現正歷史揪團、評價*/
.self-group-comment {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ece2e1;
}

.shift-background {
  background-color: white;
  border-radius: 10px;
  padding: 6%;
  height: 100%;
  margin: 4% 5% 4% 5%;
  overflow-y: scroll;
}

.shift-background::-webkit-scrollbar {
  display: none;
}

/* 現正、歷史 dashboard */
.group-dashboard {
  text-align: center;
}

.sub-dashboard-i {
  margin: 10% 0 5% 0;
  font-size: 23px;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 2%;
}

.sub-dashboard-past {
  margin: 10% 0 5% 0;
  font-size: 23px;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 2%;
}

.sub:link,
.sub:visited {
  text-decoration: none;
  color: black;
}

.sub:hover {
  text-decoration: none;
  border: 2px solid #004aad;
}

.dashboard-num {
  font-size: 20px;
  margin: 7px 0 10px 0;
  color: rgba(0, 0, 0, 0.6);
}

.dashboard-title {
  color: rgba(0, 0, 0, 0.6);
}

.i,
.past {
  display: flex;
  justify-content: space-evenly;
}

/* 追蹤、編輯按鈕*/
.follow-btn,
.self-edit {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

#follow-btn,
#self-edit {
  font-size: 18px;
  font-family: 'cwTeXYen';
  background-color: #f9d5a7;
  border-radius: 5px;
  border: 0px;
  padding: 1%;
  cursor: pointer;
}

/* 簡易資料 */
#resume-top {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 40px;
}

#resume-mid {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.rt {
  margin: 2% 1% 2% 1%;
}

.rm {
  margin: 3% 1% 2% 1%;
}

/* 追蹤數、粉絲數 */
#groups-fans {
  display: flex;
  margin: 2%;
  padding: 2%;
  justify-content: space-around;
  font-size: 20px;
}

#groups-fans div {
  text-align: center;
}

.follow,
.fans {
  margin-top: 8px;
}

/* 自介、自評文案 */
#intro,
#level-des {
  white-space: pre-wrap;
  line-height: 30px;
  font-size: 22px;
}

.intro-title,
.level-title {
  font-size: 27px;
  font-family: 'cwTeXYen';
  color: #aa8b56;
  margin: 5% 0 3% 0;
  padding-bottom: 8px;
  border-bottom: 1.5px solid #aa8b56;
}

/* 編輯個人檔案 */
#background-pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#div-pop {
  background: #ffffff;
  width: 70%;
  height: 90%;
  z-index: 1; /* 上移一層 */
  position: absolute; /* 水平垂直置中 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow-y: auto;
}

#div-pop::-webkit-scrollbar {
  display: none;
}

.div-top {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 0 2% 2%;
  background-color: #fef1e6;
}

#pop-title {
  font-size: 40px;
  color: black;
  margin-top: 2.5%;
}

#close-button {
  color: gray;
  cursor: pointer;
  font-size: 20px;
  margin: 0 1% 3.5% 40%;
}

.div-content {
  color: rgb(170, 139, 86);
  font-size: 30px;
  padding: 6% 10% 6% 10%;
}

.edit-form-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.edit-form-sex-block,
.edit-form-pos-block {
  margin-bottom: 5%;
}

.edit-form-title {
  margin-bottom: 2%;
}

.edit-form-block select,
.edit-form-block input {
  opacity: 0.8;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 50px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Microsoft Sans Serif';
  text-align: center;
}

.edit-form-block textarea {
  opacity: 0.8;
  border-radius: 10px;
  height: 300px;
  font-size: 20px;
  resize: none;
}

.edit-form-sex-block label,
.edit-form-pos-block label {
  text-align: center;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.radio-selection,
.checkbox-selection {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 1.5% 0 1.5% 0;
}

#save {
  font-size: 20px;
  background-color: #f9d5a7;
  border-radius: 5px;
  border: 0px;
  padding: 1%;
  cursor: pointer;
}

/* 待評價 */
#comment-pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#comment-div-pop {
  background: #ffffff;
  width: 70%;
  height: 90%;
  z-index: 1; /* 上移一層 */
  position: absolute; /* 水平垂直置中 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow-y: auto;
}

#comment-div-pop::-webkit-scrollbar {
  display: none;
}

.comment-div-top {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 0 2% 2%;
  background-color: #fef1e6;
}

#comment-pop-title {
  font-size: 40px;
  color: black;
  margin-top: 2.5%;
}

#comment-close-button {
  color: gray;
  cursor: pointer;
  font-size: 20px;
  margin: 0 1% 3.5% 40%;
}

.comment-div-content {
  color: rgb(170, 139, 86);
  font-size: 30px;
  padding: 4% 10% 3% 10%;
}

.time-title,
.comment-score {
  margin-bottom: 2%;
}

.time-title {
  display: flex;
  align-items: baseline;
}

.tt {
  margin-right: 2%;
}

#comment-time {
  font-size: 25px;
}

.comment-score {
  display: flex;
  align-items: center;
}

#score {
  opacity: 0.8;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  height: 30px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 3%;
  font-family: 'Microsoft Sans Serif';
}

#content {
  opacity: 0.8;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  margin: 2% 0 2% 0;
  font-size: 25px;
  resize: none;
}

#send-comment {
  font-size: 20px;
  background-color: #f9d5a7;
  border-radius: 5px;
  border: 0px;
  padding: 1%;
  cursor: pointer;
}

/* 揪團ing、過去揪團*/
.group-details-link:link,
.group-details-link:visited {
  text-decoration: none;
  color: black;
}

.group-details:hover {
  text-decoration: none;
  color: #004aad;
  border: 2px solid #004aad;
}

#i-create-groups,
#i-signup-groups,
#past-create-groups,
#past-signup-groups {
  padding: 2%;
  margin: 2%;
  font-size: 20px;
}

.i-create-title,
.i-signup-title,
.past-create-title,
.past-signup-title {
  font-size: 28px;
  color: #aa8b56;
  text-align: center;
}

.group-details {
  padding: 1%;
  margin: 3% 0 3% 0;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.group-title {
  font-size: 25px;
  margin: 1% 0 3% 0;
}

.group-date {
  font-size: 18px;
  margin: 1% 0 1% 0;
}

#past-signup-groups-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.psgd {
  flex-basis: 88%;
}

.psgd-btn {
  flex-basis: 10%;
  font-size: 18px;
  font-family: 'cwTeXYen';
  background-color: #f9d5a7;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  margin: 2.6% 0 2.6% 0;
}

/* 評價區塊 */
#comment-score {
  text-align: center;
  margin-top: 3%;
  padding: 2%;
}

#comment-num {
  margin-top: 2%;
  font-size: 20px;
}

#avg-score {
  font-size: 30px;
  margin-bottom: 1.5%;
}

#rateYo {
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.personal-score {
  z-index: 0;
}

.commenter {
  display: flex;
  align-items: stretch;
  font-size: 22px;
}

.comment-commenter {
  font-family: 'Microsoft Sans Serif';
  margin: 0 1% 0 0;
}

.split-line,
.personal-score {
  margin: 0 2% 0 0;
}

.comment-content {
  font-size: 22px;
  line-height: 30px;
}

.comment-date {
  font-size: 16px;
}

.comment-block {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2%;
  margin: 5%;
}

.cb {
  margin: 2% 0 2% 0;
}

.comment-group-link:link,
.comment-group-link:visited {
  text-decoration: none;
  color: black;
}

.comment-block:hover {
  border: 2px solid #004aad;
}

.comment-group-link:hover {
  text-decoration: none;
  color: #004aad;
}

/* 追蹤清單*/
#follow-part {
  cursor: pointer;
}

#follow-part:hover {
  color: #004aad;
}

#follow-list {
  display: flex;
  flex-direction: column;
}

.my-follow-title {
  font-size: 27px;
  color: #aa8b56;
  margin: 5% 0 3% 0;
  padding-bottom: 8px;
  border-bottom: 1.5px solid #aa8b56;
}

.i-follow {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 2% 0 2% 0;
}

.i-follow:link,
.i-follow:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.i-follow:hover {
  text-decoration: underline;
}

/* 粉絲清單*/
#fans-part {
  cursor: pointer;
}

#fans-part:hover {
  color: #004aad;
}

#fans-list {
  display: flex;
  flex-direction: column;
}

.my-fans-title {
  font-size: 27px;
  color: #aa8b56;
  margin: 5% 0 3% 0;
  padding-bottom: 8px;
  border-bottom: 1.5px solid #aa8b56;
}

.my-fans {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 2% 0 2% 0;
}

.my-fans:link,
.my-fans:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.my-fans:hover {
  text-decoration: underline;
}
