/* 登入頁面架構*/
html,
body {
  height: 100%;
  margin: 0;
  background-color: #ece2e1;
  font-family: 'Lucida Console', 'cwTeXYen';
}

.main-container {
  display: flex;
  height: 100vh;
}

.vb-nav {
  flex-basis: 40%;
  margin: 4% 0 4% 17%;
  background-color: #fef1e6;
  border-radius: 30px 0 0 30px;
  overflow-y: hidden;
}

.signin-signup {
  flex-basis: 60%;
  margin: 4% 17% 4% 0;
  background-color: white;
  overflow-y: scroll;
  border-radius: 0 30px 30px 0;
}

.vb-nav::-webkit-scrollbar,
.signin-signup::-webkit-scrollbar {
  /* 隱藏滾動條*/
  display: none;
}

/* 右側內容*/
/* 登入*/
.signin-container input[type='text'],
.signin-container input[type='password'] {
  font-size: 20px;
  width: 80%;
  padding: 10px;
  margin: 2% 0 10% 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.signin-container input[type='text']:focus,
.signin-container input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

.signin-container {
  padding: 3% 0 3% 10%;
  font-size: 20px;
}

.signin-container input {
  text-align: center;
}

#signin-form {
  margin-top: 15%;
  padding: 2%;
}

#signin-btn {
  font-size: 18px;
  background-color: #fef1e6;
  border-radius: 5px;
  border: 0px;
  padding: 3px 20px 3px 20px;
  cursor: pointer;
  margin: 0 3% 3% 0;
}

#to-signup {
  font-size: 18px;
  background-color: #def5e5;
  border-radius: 5px;
  border: 0px;
  padding: 3px 20px 3px 20px;
  cursor: pointer;
}

.signin-btn {
  margin-left: 10%;
}

.fb-login-button {
  margin-bottom: 3%;
}

.signin-fb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* 註冊 */
.signup-container input[type='text'],
.signup-container input[type='password'] {
  font-size: 20px;
  width: 80%;
  padding: 10px;
  margin: 2% 0 7% 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.signup-container input[type='text']:focus,
.signup-container input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

.signup-container {
  padding: 3% 0 3% 10%;
  font-size: 20px;
}

.signup-container input {
  text-align: center;
}

#signup-form {
  margin-top: 7%;
  padding: 2%;
  display: none;
}

#signup-btn {
  font-size: 18px;
  background-color: #fef1e6;
  border-radius: 5px;
  border: 0px;
  padding: 3px 20px 3px 20px;
  cursor: pointer;
  margin-right: 3%;
}

#to-signin {
  font-size: 18px;
  background-color: #def5e5;
  border-radius: 5px;
  border: 0px;
  padding: 3px 20px 3px 20px;
  cursor: pointer;
  margin-right: 3%;
}

.signup-btn {
  margin-left: 10%;
}

/* 左側內容*/
.logo {
  text-align: center;
  margin-top: 12%;
  cursor: pointer;
}

.slogan {
  text-align: center;
  font-family: 'cwTeXYen', 'Lucida Console';
  font-size: 23px;
  color: #aa8b56;
  margin-top: 8%;
}

/* 動畫*/
.animation {
  text-align: center;
}
